{% extends 'base.html' %}
{% load static %}
{% load general_filters %}
{% load general_tags %}

{% block title %}Hackathon - bring innovation in life{% endblock %}

{% block extra_style %}

{% endblock %}
{% block extra_css %}
{% endblock %}

{% block content %}

{% hackthon_ad request ad %}

<div class="container">
    {% include 'partials/separator.html' %}
    <div class="iconed-features lift-on-hover style-1">
        <div class="row">
            <div class="col-md-4">
                <div class="iconed-feature">
                    <div class="feature-icon-w">
                        <i class="icon-eye-open"></i>
                    </div>
                    <h4>Show Your Talents</h4>
                    <p>Build whatever you wanna build. It's your show time!</p>
                    <div class="btn-show-on-parent-hover">
                        <a class="read-more-link" href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="iconed-feature">
                    <div class="feature-icon-w">
                        <i class="icon-user-md"></i>
                    </div>
                    <h4>Meet Hackers</h4>
                    <p>Join this interesting party and know hackers around you.</p>
                    <div class="btn-show-on-parent-hover">
                        <a class="read-more-link" href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="iconed-feature">
                    <div class="feature-icon-w">
                        <i class="icon-power-off"></i>
                    </div>
                    <h4>Be Your Own PLM</h4>
                    <p>You give direction. You create the product.</p>
                    <div class="btn-show-on-parent-hover">
                        <a class="read-more-link" href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'partials/separator.html' %}
    {% recent_projects request 'Featured Projects' projects %}

    {% include 'partials/separator.html' %}
    <h2>Instructions</h2>
    {{ hackathon.instruction|markdown|safe }}

</div>

{% endblock %}

{% block extra_script %}


{% endblock %}