<div aria-hidden="true" aria-labelledby="loginModalLabel" class="modal fade" id="loginModal" role="dialog" tabindex="-1" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
                <h4 class="modal-title">Signin (will not store your password)</h4>
            </div>
            <div class="modal-body">
                <form action="/signin/" role="form">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="control-label" for="username">Username</label>
                            <input class="form-control" placeholder="your username" type="text" name="username"
                                   id="username">
                        </div>
                        <div class="col-md-6">
                            <label class="control-label" for="password">Password</label>
                            <input class="form-control" placeholder="your password" type="text" name="password"
                                   id="password">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                <button class="btn btn-primary" type="button">Sign In</button>
            </div>
        </div>
    </div>
</div>