<div class="header-main">
    <div class="container">
        <nav class="navbar navbar-default" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button class="navbar-toggle" data-target=".navbar-ex1-collapse" data-toggle="collapse" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img alt="" height="45px" src="/images/hackathon.png" />
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <a class="btn btn-default navbar-btn navbar-right" data-toggle="modal" href="#loginModal">
                    Sign In
                    <i class="icon-signin"></i>
                </a>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="index.html">Home</a>
                    </li>
                    <li class="current">
                        <a class="current" href="about.html">About Us</a>
                    </li>
                    <li>
                        <a href="portfolio.html">Portfolio</a>
                    </li>
                    <li>
                        <a href="loop.html">Blog</a>
                    </li>
                    <li>
                        <a data-toggle="modal" href="#contactModal">Contact Us</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

</div>